* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 1900px;
}
#navbar{
    font-family:Arial, Helvetica, sans-serif;
    height: 60px;
    background: linear-gradient(rgba(0, 0, 0, 0.993),rgba(54, 54, 54, 0.205));
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
}
.shopname {
  float: left;
  margin:auto;
  width: 25%;
  text-align: center;
  line-height: 60px;
  color: yellow;
}
.menu {
  float: right;
  width: 75%;
  line-height: 60px;
  text-align: center;
  font-size: 1.1rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menuanchor{
    text-decoration: none;
    color: white;
    margin-right: 50px;
}
.menuanchor:hover{
  opacity: 60%;
}
#surveybutton{
    width: 25%;
    height: 35px;
    background-color: yellow;
    color: rgb(14, 13, 13);
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#surveybutton:hover{
  background-color: rgb(59, 255, 10);
}
.fas{
    margin-right: 10px;
}


/* Style for Header Section  */
#header{
    background-image: url("https://images.pexels.com/photos/1556688/pexels-photo-1556688.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:100% 100%;
    height: 90vh;
    width: 100%;
    background-attachment: fixed;
    background-position:center;
}


/* Style for Heading  */
.heading{
  text-align: center;
  font-family: 'Great Vibes', cursive;
  color: rgb(128, 9, 9);
  font-size: 2.1rem;
  margin-top: 10px;
}
.heading h2{
  letter-spacing: 5px;
}

/* Content Pizza  */
.pizza{
  width: 80%;
  margin:1rem auto;
  background-color: rgba(243, 235, 235, 0.795);
  height:19%;
  padding: 2rem 10px 10px 10px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.753);
}
.pizzaimage{
  float: left;
  width: 50%;
}
.pizzaimage img{
  width: 100%;
}
.pizzainfo{
  float: right;
  width: 48%;
}
.foodname{
    font-family: cursive;
    color: rgb(128, 7, 7);
    font-size: 1.9rem;
}


/* Content Burger  */
.burger{
  width: 80%;
  margin:1.5rem auto;
  margin-top: 3rem;
  background-color: rgba(243, 235, 235, 0.795);
  height:19%;
  padding: 2rem 10px 10px 10px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.753);
}
.burgerimage{
  float: left;
  width: 50%;
}
.burgerimage img{
  width: 100%;
}
.burgerinfo{
  float: right;
  width: 48%;
}



/* French Friench fries */
.frenchf{
  width: 80%;
  margin:1.5rem auto;
  margin-top: 3rem;
  background-color: rgba(243, 235, 235, 0.795);
  height:19%;
  padding: 2rem 10px 10px 10px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.753);
}
.frenchfimage{
  float: left;
  width: 50%;
}
.frenchfimage img{
  width: 100%;
}
.frenchfinfo{
  float: right;
  width: 48%;
}
.explorebutton{
  width: 50%;
  height: 35px;
  background-color: rgb(255, 251, 6);
  border: none;
  font-size: 1.1rem;
  margin-top: 10px;
  box-shadow: 5px 5px 15px rgb(34, 1, 1);
  cursor: pointer;
}
.explorebutton:hover{
  background-color: rgb(59, 255, 10);
}



/* Cold Drinks */
.coldd{
  width: 80%;
  margin:1.5rem auto;
  margin-top: 3rem;
  background-color: rgba(243, 235, 235, 0.795);
  height:19%;
  padding: 2rem 10px 10px 10px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.753);
}
.colddimage{
  float: left;
  width: 50%;
}
.colddimage img{
  width: 100%;
}
.colddinfo{
  float: right;
  width: 48%;
}



/* Ice Creams */
.icecream{
  width: 80%;
  margin:1.5rem auto;
  margin-top: 3rem;
  background-color: rgba(243, 235, 235, 0.795);
  height:19%;
  padding: 2rem 10px 10px 10px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.815);
}
.icecreamimage{
  float: left;
  width: 50%;
}
.icecreamimage img{
  width: 100%;
}
.icecreaminfo{
  float: right;
  width: 48%;
}


/* Footer Section  */
footer{
  background-color: black;
  width: 100%;
  height: 10%;
  color: white;
  text-align: center;
  padding: 0px 50px 0px 50px;
}